body {
	background-color:#f8f4f4;
	 margin: 20px;
}

table{
box-shadow: 1px 1px 1px red;
font-family:georgia, serif;
text-align:center;
}
caption{
	background:	 #f6e8e8;
}
td {
	width: 150px;
	text-align: center
}

th{
text-align: center; 
}

h1 {
    color: blue;
}

h2 {
    color:#0000ff;
}

.entete{
	margin: 30px;
	padding-top: 15px;
}

.logo{ 
}

.info_personne{
}

.info_choisir{

}

.renseigner_creneau_tab{

}

.info_dh{
}

.info_dh_tab{
}

.list_etudiant{

}

.listEtudiant{
}


.div_bouton{
	

}

.btn_initialiser {
	padding:6px 0 6px 0;
	font:Bold 13px Arial;
	background:#d34836;
	color:#cbabab;
	width:90px;
	text-align: center;
	border-radius:2px;
	border:none;
	margin-left:20px;
	margin-bottom: 50px;
	;
}

.btn_valider{
	padding:6px 0 6px 0;
	font:Bold 13px Arial;
	background:#d34836;
	color:#cbabab;
	width:90px;
	text-align: center;
	border-radius:2px;
	border:none;
	margin-left:40px;
	margin-bottom: 50px;
}


